<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="\assets\Images\Hospital Logo1.png" alt="">

        <a class="navbar-brand" href="">Re <span>Vera</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item ">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/specialities" routerLinkActive="active">Specialities</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/services" routerLinkActive="active">Service</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/appointment" routerLinkActive="active">Oppointment</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/about" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bt2" routerLink="/register" routerLinkActive="active">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bt" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="bt1" (click)="logout()" routerLinkActive="active">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>