<!-- Large button groups (default and split) -->
<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Large button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<div class='News-footer'>
  <div class='news'>
    <span id='news-head'><b>News</b></span>
    </div>
 <p class='N-text'>
 <marquee direction='left'>
  <a class='t-link' href='#'>• Coronavirus pandemic is going to get worse and worse and worse: WHO chieft</a>
  <span>• ‘Everyone is lying’: Trump undercuts public health officials in fresh attacks</span>
  <span>• Tesla’s Elon Musk Nears $2.4 Billion Haul as Stock Keeps Soaring</span>
  <span>• SpaceX test-fires rocket for South Korean military satellite launch this week</span>
   </marquee>
 </p>
 </div> 
















































 