<!-- ***************************************************Carousel*****************************************************************  -->
<section class="car-section">
  <div class="car-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    
        </div> -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\assets\Images\WhatsApp Image 2023-09-04 at 16.43.55.jpeg" class="d-block w-100" alt="">
          <div class="caption-container">
            <div class="carousel-caption ">
              <div class="box">
                <h1 class="heading1 text-start">Making a BIG Difference with a little <br> Care</h1>
              </div>
              <h4 class="text-start">A Patient-first philosophy drives our decision-making across the Re-Vera
                organisation</h4>
              <a class="btn btn-lg mt-3" routerLink="/appointment" href="#">Book Oppointment</a>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="\assets\Images\young-mother-with-her-children-pediatrician-appointment.jpg" class="d-block w-100"
            alt="">
          <div class="carousel-caption  care">

            <h1 class="heading2 text-center text-dark">Child Care</h1>
            <div class="carimg">
              <img src="\assets\Images\child care logo.jpg" alt="">
            </div>
            <h4 class="text-center mt-3 mb-3 text-dark">Trust us once, and your baby will never forget us A place for
              expert baby cares for your kids. Your kids' care is essential</h4>

            <a class="butt" routerLink="/appointment" href="#">Book Oppointment</a>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="\assets\Images\confident-female-doctor-with-reports-clipboard-standing-against-male-patient-hospital.jpg"
            class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="\assets\Images\doctor-wearing-face-mask-clinic.jpg" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!-- ****************************************************************CARDS********************************************************************** -->

<body>
  <section class="card-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <!-- Column 1 content goes here -->
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-headset fa-2xs"></i>
              <h4>24/7 Support</h4>
              <p>Lorem ipsum do4lor sit amet consectetur adipisicing elit. Tempore ratione porro ad quisquam repellendus
                illum?</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <!-- Column 2 content goes here -->
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-truck-medical fa-2xs"></i>
              <h4>24/7 Support</h4>
              <p>Lorem ipsum do4lor sit amet consectetur adipisicing elit. Tempore ratione porro ad quisquam repellendus
                illum?</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <!-- Column 3 content goes here -->
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-suitcase-medical fa-2xs"></i>
              <h4>24/7 Support</h4>
              <p>Lorem ipsum do4lor sit amet consectetur adipisicing elit. Tempore ratione porro ad quisquam repellendus
                illum?</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <!-- Column 4 content goes here -->
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-ticket fa-2xs"></i>
              <h4>24/7 Support</h4>
              <p>Lorem ipsum do4lor sit amet consectetur adipisicing elit. Tempore ratione porro ad quisquam repellendus
                illum?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"
      integrity="sha384-GLhlz7kiOj2mFMjz5tFfMy3z6VaxdP2c5PAx1osO/c7R+A4c2W/+20BbO5l5XH5z1"
      crossorigin="anonymous"></script>
  </section>

  <!-- **********************************************************Why Choose Us ? ************************************************************* -->


  <div class="container">
    <div class="box">
      <div class="text-center mt-5">
        <h1>Why Choose Us?</h1>
      </div>
      <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel optio nesciunt maiores quidem fugit neque
          recusandae ea tempora animi doloremque quae unde, vero obcaecati mollitia ut. Corrupti quam unde dolor.</p>
      </div>
    </div>
  </div>

  <section class="figur m-5">
    <div class="container">
      <div class="row">
        <div class="col-sm ">
          <div class="row row-cols-1">
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark">
                <img src="\assets\Images\M-2.png" alt="">
              </div>
              &nbsp;&nbsp;&nbsp;
              <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                  and probably just keep going until we run out of words.</p>
              </div>
            </div>
          </div>

          <div class="row row-cols-1">
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark">
                <img src="\assets\Images\M-2.png" width="50px" height="50px" alt="">
              </div>
              &nbsp;&nbsp;&nbsp;
              <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                  and probably just keep going until we run out of words.</p>
              </div>
            </div>
          </div>


        </div>
        <div class="col-sm">
          <img src="\assets\Images\Dr._Center-removebg-preview.png" alt="">
        </div>
        <div class="col-sm">

          <div class="row row-cols-1">
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark">
                <img src="\assets\Images\M-2.png" width="50px" height="50px" alt="">
              </div>
              &nbsp;&nbsp;&nbsp;
              <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                  and probably just keep going until we run out of words.</p>
              </div>
            </div>
          </div>

          <div class="row row-cols-1">
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark">
                <img src="\assets\Images\M-2.png" width="50px" height="50px" alt="">
              </div>
              &nbsp;&nbsp;&nbsp;
              <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- ************************************************************Counter******************************************************************* -->

  <section class="counter">
    <div class="container  ">
      <div class="row count">
        <div class="col" style="text-align: center;">
          <img src="\assets\Images\hand with Heart.png" width="70px" height="70px" alt="">
          <h1 class="text-center mt-2">1000+</h1>
          <h3>Happy</h3>
          <h3>Customers</h3>
        </div>
        <div class="col" style="text-align: center;">
          <img src="\assets\Images\Heart.png" width="70px" height="70px" alt="">
          <h1 class="text-center mt-2">2017</h1>
          <h3>Top</h3>
          <h3>Hospitality</h3>
        </div>
        <div class="col" style="text-align: center;">
          <img src="\assets\Images\Heart.png" width="70px" height="70px" alt="">
          <h1 class="text-center mt-2">1105</h1>
          <h3>Innovative</h3>
          <h3>Approach</h3>
        </div>
        <div class="col" style="text-align: center;">
          <img src="\assets\Images\lungs.png" width="70px" height="70px" alt="">
          <h1 class="text-center mt-2">500+</h1>
          <h3>Innovative</h3>
          <h3>Approach</h3>
        </div>
      </div>
    </div>
  </section>


  <!-- ****************************************************************Cards********************************************************************* -->

  <section class="service p-5">
    <h1 class="s-h1 text text-center">Our Services</h1>
    <p class="s-p text-center">TO CHOOSE FROM</p>
    <div class="container-fluid p-5" style="display: flex; justify-content: center; align-items:center;">
      <div class="row">
        <div class="col">
          <div class="box">
            <img src="\assets\Images\Cardiology C.png" alt="">
            <h2>Cardiology</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>

        <div class="col">
          <div class="box">
            <img src="\assets\Images\Gastroenterlogy C.png" alt="">
            <h2>Gastroenterology</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>

        <div class="col">
          <div class="box">
            <img src="\assets\Images\Medical Lab C.png" alt="">
            <h2>Medical Lab</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>

      </div>
    </div>


    <div class="container-fluid p-5" style="display: flex; justify-content: center; align-items:center;">
      <div class="row">
        <div class="col">
          <div class="box">
            <img src="\assets\Images\Cardiology C.png" alt="">
            <h2>Cardiology</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>

        <div class="col">
          <div class="box">
            <img src="\assets\Images\Gastroenterlogy C.png" alt="">
            <h2>Gastroenterology</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>

        <div class="col">
          <div class="box">
            <img src="\assets\Images\Medical Lab C.png" alt="">
            <h2>Medical Lab</h2>
          </div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam? Ab cupiditate
            neque, aspernatur illo unde qui, ipsum perspiciatis est sequi vel enim fugit optio porro molestiae deserunt
            officia eveniet.</p>
        </div>


      </div>
    </div>

    <div class="button-box">
      <a class="btn btn-lb" routerLink="/appointment" href="#">Read More</a>
    </div>
  </section>


  <!-- **************************************************************Cards****************************************************************** -->

  <section class="section-cardi">
    <h1 class="s-h1 m-5 text text-center">
      Our Team
    </h1>
    <p class="s-h1 m-5 text text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel velit hic harum
      sequi quis? Quos consequatur omnis molestiae provident qui repellendus, voluptatibus vero? Magnam repellat quidem
      saepe! Quis, exercitationem. Magni.lorem20 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fuga nulla quia dolorum necessitatibus officia culpa adipisci, ducimus eaque earum?</p>
    <div class="container-fluid">
      <div class="row">
        <div class="card">
          <img class="card-img-top" src="\assets\Images\flash.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="\assets\Images\DR. Team.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="\assets\Images\Enivronment.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>

          </div>
          
        </div>
        <div class="button-box m-5">
          <a class="btn btn-lb" routerLink="/appointment" href="#">Read More</a>
        </div>
      </div>
    </div>
  </section>