<link rel="stylesheet" href="register.component.css">
<section class="cardsection">
<div class="container">
    <div class="raw">
        <div class="card" style="width: 23rem;">
            <img src="/assets/Images/Dr.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Dr</h5>
              <!-- <a class="btn btn-primary" routerLink="/dr-submit" routerLinkActive="active">Register</a> -->
              <button class="btn btn-primary" routerLink="/dr-register" routerLinkActive="active">Register</button>
              <button class="btn btn-primary" routerLink="/new-dr" routerLinkActive="active">New Register</button>


            </div>
          </div>

          <div class="card" style="width: 23rem;">
            <img src="/assets/Images/Patient.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Patient</h5>
              <button class="btn btn-primary" routerLink="/pat-register" routerLinkActive="active">Register</button>
              <button class="btn btn-primary" routerLink="/new-patient" routerLinkActive="active">New Register</button>

              
            </div>
          </div>

          <div class="card" style="width: 23rem;">
            <img src="/assets/Images/Hospital.jpg" class="card-img-top" alt="">
            <div class="card-body">

              <h5 class="card-title">Hospital Management</h5>
              <a href="#" class="btn btn-primary" routerLink="/dr" routerLinkActive="active">Register</a>
            </div>
          </div>
</div>
</div>
</section>